*{
    padding: 0;
    margin: 0;
}


/* NAVBAR AND SECTION STYLES*/
#sectiona{
    background-image: url('./img/vent0.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
}

/*Brand logo*/
.brand-logo{
    margin-left: 35px !important;
    opacity: 0.8 !important;
}



#navbar {
    background-color: rgba(0,0,0,0) !important;
    opacity: 1 !important;
}

.right a{
    font-size: 1.2rem !important;
}

/*Link Styles*/
.link{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.link img{
    height: 250px;
    width: 600px;
    margin-left: 50px;
}
.link h6{
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
    margin-left: 50px;
}
.icon{
    display: flex;
    flex-direction: row;
    color: white;
    width: 50%;
    font-size: 1.2rem;
    margin-top: 50px;
}
.icon a{
    color: white !important;
}

.icon i{
    font-size: 6rem !important;
    margin-left: 50px;
}

.icon p{
    margin-top: 15px;
    margin-left: 35px;
}
.icon i:hover{
    font-size: 5.8rem !important;
    transition: 0.5s ease-out;
}

/******************************Sectionb***************************************************************************************************************/
#sectionb{
    height: 50vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Oswald, Raleway, Arial, Helvetica, sans-serif
}

#sectionb h4{
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: bold;
}

#sectionb p{
    font-size: 18px;
}

.text{
    width: 60%;
    margin: auto;
}

.text img{
    width: 160px;
    margin-top: 30px;
}

/********************************Sectionc*******************************************************************/

#sectionc{
    background-color: #f4f4f4;
    height: 35vh;
    display: flex;
    text-align: center;
    align-items: center;
}

#sectionc h3, #sectionc h6{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#sectionc h3{
    letter-spacing: 0.2rem;
}
#sectionc h6{
    font-size: 12px;
}

#sectionc div{
    width: 21%;
    margin-left: 300px;
}

/**********************************Sectiond********************************************************/
#sectiond{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
}

#sectiond h6{
 font-weight: bold;
 font-size: 0.9rem;
}

/*********************Sectione Sectiond Sectiong*********************************/
#sectione, #sectionf, #sectiong{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    color: white;
}

#sectione{
    background-image: url('./img/vent3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#sectionf{
    background-image: url('./img/vent4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
}

#sectiong{
    background-image: url('./img/vent5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.dive, .divf, .divg{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.dive button, .divf button, .divg button{
    padding: 10px 50px;
    border: 2px solid white;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.dive button:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}

.divf button:hover{
    color: white;
    background-color: orangered;
    transition: 0.5s;
    border: 2px solid orangered;
}

.divg button:hover{
    color: white;
    background-color: darkolivegreen;
    transition: 0.5s;
    border: 2px solid darkolivegreen;
}


/**********************************Sectionh**************************************/
#sectionh{
    display:flex;
    flex-direction: row;
    height: 60vh;
}
.divhimage{
    width: 50%;
    background-image: url('./img/vent2.jpg');
    background-size: cover;
    background-position: center;
}
.divh{
    width: 50%;
    display:flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    margin-left: 250px;
    margin-top: 100px;
}

.divh p{
    opacity: 0.9;
}

/*****Button Animation********/

.ctn{
    border: 1px solid black;
    background: none;
    padding: 20px 20px;
    font-size: 15px;
    width: 200px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.ctn1{
  color: black;
}
.ctn1:hover{
  color: #fff;
}

.ctn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: black;
    z-index: -1;
    transition: 0.8s;
}

.ctn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.ctn1:hover::before{
    height: 180%;
}


/********************************************/
.divh div{
    width: 45%;
}

.divh h3{
    font-size: 32px;
    font-family: Oswald, Raleway, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.divh ol{
    margin-top: 15px;
    margin-bottom: 36px;
    margin-left: 14px;
}

.divh li{
    list-style-type: disc;
    opacity: 0.8;
}

/*********************************Sectioni****************************/

#sectioni{
    background-color: #91A05C;
    height: 50vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.divi{
   width:40%;
   margin-top: 100px;
}

.divi h5{
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    margin-bottom: 20px;
}

.divi p{
    font-size: 0.9rem;
    color: #fEfEfE
}

.divi img{
    width: 80%;
}

.form form{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.form form input{
    width: 40% !important;
    background-color: transparent !important;
    border: 1px solid white !important;
    outline: none !important;
    color: white !important;
    font-weight: bold !important;
    text-indent:30px !important;
}

.form form button{
    color: #91a05c;
    background-color: white;
    width: 40%;
    outline: none;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

::placeholder {
    color: white;
    padding: 10px;
    font-weight: bold;
  }


/*******************************************************FOOTER*************************************/

footer{
    padding-top: 80px;
    background-color: #292929;
    color: white;
    height: 80vh;

}

.divj i, .divj a{
    color: white;
}

.divj p{
    color: grey;
}

.update p{
   color: white;
}

.update i{
    margin-right: 10px;
}

.divj{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.divj hr{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 70%;
}

.update div{
    display: flex;
    flex-direction: row;
}

.update h6, .update hr{
    margin-left: 20px;
}


.copy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    color: grey;
}

.topdiv{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.copy ul{
    display: flex;
    flex-direction: row;
}

.copy li{
    padding: 10px;
}

.copy li a{
    color: grey;
}

.topdiv button{
    background-color: transparent;
    border: grey;
    color: grey;
    width: 100px;
    border: 2px solid grey;
    height: 30px;
    cursor: pointer;
    font-weight: bolder;

}

/********************Hover***************************************************/

.copy li a:hover{
    color: white;
}

.topdiv button:hover{
    color: white;
    border: 2px solid white;
}


/*********************Media Query*******************************************/
@media screen and (max-width: 950px) {
    .link img{
        height: 200px;
        width: 400px;
    }
    .icon{
        width: 80%;
    }

    #sectionc{
        justify-content: center;
    }
    #sectionc div{
        margin-left: 0;
        width: 50%;
    }
    #sectionc h3{
        font-size: 2rem;
    }
    #sectionh{
        height: 70vh;
    }
    .divh{
        text-align: left;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        margin-top: 0px;
    }
    .divh h3{
        font-size: 1.5rem;
    }
    .divi{
        width:80%;
     }
     .form form button{
        height: 45px;
    }
    .form form input{
        text-indent:10px !important;
    }
    footer{
        height: 90vh;  
    }
    .divj h5{
        font-size: 0.8rem;
    }
    .update h6, .update hr{
        margin-left: 20px;
    }
    footer p{
        font-size: 0.8rem;
    }
    #sectionb{
        height: 60vh;
    }
  }
  @media screen and (min-width: 951px) {
    .divh{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-top: 0px;
    }
  }
